canvas {
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.slide-in-box {
  position: fixed;
  top: 90px;
  right: -250px;
  width: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  transition: right 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.slide-in-box.show {
  right: 10px;
}

.close-cross {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 18px;
}

.info-content {
  padding-top: 10px;
}

.modal {
  display: none; /* Initially hidden */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  /* Flexbox settings to center content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-close {
  margin-top: 20px;
  cursor: pointer;
}
